<body>


    <main id="bg-cinza">

        <section class="container-titulo">
            <div>
                <h1>Cardápio <span>Paradiso</span> </h1>
            </div>
        </section>


        <div class="container-card">
            <div class="card-animation">


                <div class="card">
                    <img src="/img/img-calabresa.png" alt="Nova imagem" class="card__image">
                    <div class="card__content">
                        <p class="card__title">Pizza de Calabresa</p>
                        <p class="card__description">A pizza de calabresa da Paradiso é uma verdadeira explosão de
                            sabores. A combinação perfeita entre a crocância da massa, o molho de tomate caseiro e o
                            queijo derretido é simplesmente irresistível.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/img/pizza-marguarita.png" alt="Nova imagem" class="card__image">
                    <div class="card__content">
                        <p class="card__title">Pizza de Margherita </p>
                        <p class="card__description">A pizza de margherita  da Paradiso é uma verdadeira explosão de
                            sabores. A combinação perfeita entre a crocância da massa, o molho de tomate caseiro e o
                            queijo derretido é simplesmente irresistível.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/img/pizza-pepperoni.png" alt="Nova imagem" class="card__image">
                    <div class="card__content">
                        <p class="card__title">Pizza de Pepperoni</p>
                        <p class="card__description">A pizza de pepperoni da Paradiso é uma verdadeira explosão de sabores. A deliciosa combinação do queijo derretido com as fatias de pepperoni defumado é simplesmente irresistível.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/img/pizza-siciliana.png" alt="Nova imagem" class="card__image">
                    <div class="card__content">
                        <p class="card__title">Pizza Sicíliana</p>
                        <p class="card__description">A pizza de sicíliana da Paradiso é uma verdadeira explosão de
                            sabores. A combinação perfeita entre a crocância da massa, o molho de tomate caseiro e o
                            queijo derretido é simplesmente irresistível.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/img/pizza-chocolate.png" alt="Nova imagem" class="card__image">
                    <div class="card__content">
                        <p class="card__title">Pizza de Chocolate</p>
                        <p class="card__description">A pizza de chocolate da Paradiso é uma verdadeira tentação para os amantes de sobremesas. A combinação perfeita entre a massa macia e o delicioso chocolate derretido é simplesmente irresistível.</p>
                    </div>
                </div>








            </div>


        </div>

    </main>

</body>

</html>