<body>
    <main>

        <section class="container-home">
            <div>
                <h1>Pizzaria <span>Paradiso</span> </h1>
            </div>
        </section>
        <section class="cards">
            <article class="card-home">
                <div class="card-details">
                    <p class="text-title">Entrega Rápida </p>
                    <p class="text-body">Desfrute da comodidade de receber suas pizzas em tempo recorde</p>
                    <img src="/img/icon-entrega.png" class="icon-card" alt="">
                </div>

            </article>
            <article class="card-home">
                <div class="card-details">
                    <p class="text-title">Tradição no Preparo</p>
                    <p class="text-body">Sabores autênticos e uma experiência única em cada fatia de pizza</p>
                    <img src="/img/icon-forno.png" class="icon-card" alt="">
                </div>


            </article>
            <article class="card-home">
                <div class="card-details">
                    <p class="text-title">Qualidade Inigualável</p>
                    <p class="text-body"> Massa artesanal e um cuidado meticuloso no preparo </p>
                    <img src="/img/icon-pizza.png" class="icon-card" alt="">
                </div>


            </article>

        </section>
        <section class="mycard">
            <article class="card-inner">
                <div class="image-container">
                    <img src="/img/pizza-home.png" class="animated-element" alt="">
                </div>
                <div class="text-container">
                    <h1>O que você encontra na <span>Paradiso ?</span></h1> <br>
                    <p class="text-card">É uma escolha incrível quando se trata de satisfazer seu paladar com deliciosas
                        pizzas. Com uma combinação perfeita de qualidade, sabor e serviço excepcional, a Paradiso
                        oferece uma experiência gastronômica única.</p>
                </div>
                
            </article>
            <article class="card-inner">
                <p class="text-body"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt nesciunt nulla,
                    ab, sit hic distinctio et consectetur ipsa unde nisi officiis, sunt id laudantium deserunt
                    voluptatem aliquid blanditiis aut aspernatur?</p>

            </article>
        </section>
        <script src="/js/animated.js"></script>



    </main>

</body>

</html>