


<body>
    <main>
        <section class="container-home">
            <article>
                <h1>Pizzaria Paradiso</h1>
            </article>
        </section>
        <section class="cards">
            <article class="card-home">
                <div class="card-details">
                    <p class="text-title">Entrega Rápida e com Qualidade</p>
                    <p class="text-body">Here are the details of the card</p>
                    <img src="/img/icon-entrega.png" class="icon-card" alt="">
                </div>
                
            </article>
            <article class="card-home">
                <div class="card-details">
                    <p class="text-title">Tradição no Preparo</p>
                    <p class="text-body">Here are the details of the card</p>
                    <img src="/img/icon-forno.png" class="icon-card" alt="">
                </div>
                

            </article>
            <article class="card-home">
                <div class="card-details">
                    <p class="text-title">Qualidade Inigualáve</p>
                    <p class="text-body">Here are the details of the card</p>
                    <img src="/img/icon-pizza.png" class="icon-card" alt="">
                </div>
                

            </article>
        </section>



    </main>

</body>

</html>