<body>




    <script src="cadastrar.js"></script>
    <div class="container">
        <div class="card">
            <h1>Logar</h1>

            <div id="msgError"></div>

            <div class="logar">

                <input type="text" id="login" placeholder="" required>
                <label for="login">Login</label>

            </div>

            <div class="logar">
                <input type="password" id="senha" placeholder="" required>

                <label for="senha">Senha</label>
                <i class="fa fa-eye" aria-hidden="true"></i>
            </div>

            <div class="botao-entrar">
                <button><a href="../pizzaria-party/Home/index.html">Entrar</a></button>
            </div>


            <div class="botao-entrar">
                <hr>
            </div>

            <p>Não tem uma conta?<a href="/views/cadastro.handlebars">Cadastre-se</a></p>


        </div>

    </div>
    <script src="login.js"></script>

</body>

</html>