<body>

    <main>
        <section>
            <article class="card-main">

                <div class="text-card">
                    <h1>História da Pizzaria <span>Paradiso</span></h1> <br>
                    <p >Em 2010, nascia um ícone da gastronomia carioca que traria consigo uma
                        experiência única de sabores e tradição. A Pizzaria Paradiso. Localizada na zona norte do Rio de
                        Janeiro, essa joia culinária foi fundada com o intuito de oferecer aos moradores da região uma
                        experiência gastronômica memorável, proporcionando o prazer de saborear autênticas pizzas em um
                        ambiente acolhedor e repleto de histórias. <br><br>

                        A trajetória da Pizzaria Paradiso é uma jornada que combina paixão, dedicação e uma pitada de
                        inovação, ao mesmo tempo que mantém a reverência pelas tradições da culinária italiana. Desde o
                        início, a pizzaria assumiu o compromisso de usar os melhores ingredientes, desde a massa fresca
                        e crocante até os molhos e coberturas que respeitam as raízes das autênticas receitas italianas.
                    </p>

                        <img src="/img/img-quem-somos.png" class="pizza-img" alt="">    
                   

                </div>
                

            </article>
        </section>
    </main>






</body>

</html>