*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;


}


#texto1{
  color: white;
  font-family: 'Open Sans', sans-serif;
  display: inline;
  
}

#texto2{
  color: white;
  font-family: 'Open Sans', sans-serif;
  display: inline;

}
#contato{
  width: 100%;
  display: inline;
}
#chef{
    width: 600px;
    display: inline-block;

}
.direita{
  float: right;
  width: 40%;
  margin-right: 150px;
  margin-top: 1px;
  padding: 10px;
  line-height: 35px;


}


@media screen and (min-width:375px) and (max-height: 667px){
  .direita{
    float: right;
    margin-right: 1%;
    width: 90%;
    line-height: 20px;

  }
}
@media screen and (min-width:375px) and (max-height: 667px){
  .foto {
    padding-top: 20px;
    width: 100%;
    border-radius: 10px;
  }
}
@media(max-width:375px){
  
}
